*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel{
    width: 80%;
    height:80%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
.ptop{
    width: 100%;
    height: 100px;
    background-color: rgb(33, 120, 92);
    
        display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26%;
    gap: 32px;
}
.elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    color: rgb(255, 255, 255);
    
}
.box{
    background-color: white;
    padding: 6px 12px;
    color: rgb(33, 120, 92);
    font-weight: 800;
    border-radius: 7px;
}

.pbot{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% -100px);
    padding: 20px;

    /* This is for JS to make Time Out display on center when time is up  */
    justify-content: center; 
    align-items: center;
}
.bubble{
    width: 45px;
    height: 45px;
    background-color: rgb(33, 120, 92);
    color: white;
    font-weight: 800;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bubble:hover{
    background-color: red ;
}